html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

header p {  
  text-align: center;
  font-family: Cinzel, serif;
  background-color: rgb(63, 135, 207);
  color: white;
  line-height: 40px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
  background-color: midnightblue;
  line-height: 35px;
  color: white;
}

h2 {
  text-align: center;
  background-color: rgb(63, 135, 207);
  color: white;
}

aside ul {
  margin: 20px 0;
}

article h1 {
  padding: 10px 0;
  background-color: midnightblue;
  color: white;
}

article p {
  text-align: justify;
  font-size: 20px;
  margin: 0 20px;
}

footer {
  text-align: justify;
}

footer h3 {
  margin: 20px 0;
  text-align: center;
  background-color: rgb(63, 135, 207);
  color: white;
}
