body{
    padding: 10px;
}
header,footer,tr, th {
    text-align: center;
}
.head-nav li{
    display: inline;
    padding: 50px;
    text-align: center;
}
table {
    border: 1px solid black;
    margin: 15px;    
    float: left;
}
div, section {
    border: 2px solid black;    
}
.text-section01 {        
    height: 385px;     
}
.text-section02 {
    height: 300px;    
}
article p {
    margin-left: 300px;
    margin-right: 20px;
    text-align: justify;
}

.main-content {
    display: inline-block;    
}
.side-video {
    display: inline-block;    
    width: 300px;
    padding: 80px 30px;
    text-align: center;  
    background-image: url(./img/stoma-shell.gif);  
    border-radius: 10px;    
}
.side-video a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.side-video a:hover{
    color: yellow;
}

.fotoOlhos, .fotoPata {
    margin: 15px;    
    float: left;
}
article {
    display: inline-block;
    width: 60%;    
}
section {
    margin: 15px;
}
.fotoPata, .fotoOlhos {
    width: 250px;
}

