.App {
   text-align: center;
}

.forms {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.areaText {
  margin-top: 10px;
  display: flex;
  flex-direction: column;  
}

textarea {
  resize: none;
  height: 150px;
}