* {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
}

.notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFound-container h1 {
  color: rgb(170, 0, 0);
  font-weight: 600;
  font-size: 80px;
}

.notFound-container em {
  color: white;
  margin-bottom: 20px;
}

.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-input-container {
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.header-container {
  display: flex;
  background-color: #282c34;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
}

.nav-container {
  display: flex;
  list-style: none;
}
.nav-container a {
  text-decoration: none;
  color: beige;
}

.nav-container li {
  background-color: #353b47;
  border-radius: 5px;
  padding: 5px;
  margin: 0 15px;
}

.nav-container a:hover{
  color: white;
}

.nav-container li:hover {
  background-color: #495161;
}

.painel-container {
  background-color: whitesmoke;
  height: 100%;
}

.customer-card-container {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}

.customer-card-container p {
  margin-left: 30px;
  width: 150px;
}

.customer-card-container button {
  background-color: inherit;
  color: red;
  border: none;
}