* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-container {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  border: 1px solid black
}

.preview-container, .inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 49%;
}


